<div class="route-step-view _transport _above-ground _init" data-block="route-step-view">
    <div class="route-step-view__details-axis-layout">
        <div class="route-step-view__hover-body"></div>
        <div class="route-step-view__details-axis"></div>
        <div class="route-step-view__item _clickable">
            <div class="route-step-view__icon _tramway"></div>
            <div class="route-step-view__title">Ул. Чапаева</div>
            <div class="route-step-view__description">
                <div class="route-step-view__description-content">
                    <div class="route-step-view__description-title">Трамваи: </div>
                    <span class="route-step-view__description-number">40</span>
                    <span class="route-step-view__description-number">6</span>
                </div>
            </div>
        </div>
        <div class="route-step-view__details">
            <div class="route-step-view__details-info">
                <div class="route-step-view__details-info-left-content">8&nbsp;мин</div>
            </div>
        </div>
    </div>
    <div class="route-step-view__item _clickable">
        <div class="route-step-view__hover-tail"></div>
        <div class="route-step-view__icon _empty"></div>
        <div class="route-step-view__title">Ст. метро "Горьковская</div>
    </div>
</div>
