{% extends 'base.html' %}
{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/calculation.css' %}">
{% endblock %}

{% block content %}
    <div class="page-panel">
        <div class="page-panel-inner" style="margin-top: 10px;">
            {% for equipment in militaryequipments %}
                <div class="pure-form table-cell">
                    <a href="{% url 'installation:equipment-page' equipment.id %}">
                        <img src="{{ equipment.picture_url }}" width="200px;" height="150px;"/>
                        <h5>{{ equipment.name }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
